@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.track {
  display: flex;
  flex-direction: column;
  height: 500px;
  margin: 50px 0;
  overflow-x: scroll;

  .trackName {
    height: 45px;
    margin: 0 20px;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 600;
    color: colors.$WHITE;
  }

  .trackList {
    display: flex;
    height: 450px;
  }
}
