@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.boxOffice {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  width: 100%;

  dl {
    display: flex;
    flex-direction: column;
    height: 70%;
    padding: 5px;
    margin: 0 10px;
    color: colors.$FONT_BLACK;
    background: colors.$GRAYE;
    border-radius: 5px;

    .rankingTitle {
      display: flex;
      align-items: center;
      height: 40px;
      padding: 0 5px;
      margin-bottom: 1px;
      font-size: 16px;
      font-weight: 500;
      border-bottom: 1px solid colors.$GRAYD;

      svg {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        stroke: colors.$FONT_BLACK;
      }
    }

    .itemWrapper {
      display: flex;
      flex-grow: 1;
      align-items: center;
      width: 100%;
      margin: 3px 0;
      background: colors.$GRAYD;
      border-radius: 5px;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 20%);

      dt {
        width: 30px;
        text-align: center;
      }

      dd {
        width: 100%;
        margin: 0 5px;

        button {
          display: flex;
          width: 100%;
          overflow: hidden;
          font-size: 16px;
          text-overflow: ellipsis;
          word-break: break-all;
          white-space: nowrap;
        }
      }
    }
  }
}
