@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 100%;
  padding: 100px 10px 20px;
  background: colors.$MAIN_SECOND;

  .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;

    p {
      height: 30px;
      font-size: 16px;
      color: colors.$GRAY6;
    }

    a {
      @include flexbox.flexbox(center, flex-start, column);
      width: 100%;
      height: 50px;
      font-size: 16px;
      font-weight: 600;
      color: colors.$GRAY6;
      text-decoration: none;
      fill: colors.$GRAY6;

      .menuItem {
        @include flexbox.flexbox(flex-start, center);
        width: 100%;

        svg {
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }
      }
    }

    .active {
      color: colors.$WHITE;
      fill: colors.$WHITE;
    }
  }
}
